<h1>Illuminati</h1>

<%= form_for @subscription do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :email, placeholder: 'Email' %>
  <br />
  <%= f.fields_for :topics do |builder| %>
    <%= builder.text_field :name, placeholder: "Topic" %>
    <br />
  <% end %>

  <%= f.select :frequency_id, options_from_collection_for_select(Frequency.all, :id, :name) %>
  <br />
  <%= f.submit 'Subscribe', class: "btn btn-large" %>
<% end %>
