<div class='container-fluid hero'>
  <div class='row-fluid'>
    <div class='span12'>
        
        <h1>Illuminati</h1>
        <%= form_for @subscription do |f| %>
          <% if @subscription.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this item from being saved:</h2>
        
              <ul>
              <% @subscription.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
          <%= f.text_field :email, placeholder: 'Email' %>
          <br />
          <%= f.text_field :topic_1, placeholder: 'Competitor 1' %>
          <br />
          <%= f.text_field :topic_2, placeholder: 'Competitor 2' %>
          <br />
          <%= f.text_field :topic_3, placeholder: 'Competitor 3' %>
          <br />
        
          <%= f.collection_select :frequency_id, Frequency.all, :id, :name %>
          <br />
          <%= f.submit 'Subscribe', class: "btn btn-large" %>
        <% end %>

    </div>
  </div>
  </div>
<div class='container-fluid callouts'>
  <div class='row-fluid'>
    <div class='span4 one'>
      <div class='circle'></div>
      <h2>Social Media &amp; News Tracking</h2>
      <p>Illuminati will brighten your day with intelligence on your competitors gathered from all your favorite social networks and news sites.</p>
    </div>
    <div class='span4 two'>
      <div class='circle'></div>
      <h2>Everything In One Place</h2>
      <p>No more lengthy searches in the dark. Illuminati provides a daily or weekly report with everything you need to keep one step ahead of the competition.</p>
    </div>
    <div class='span4 three'>
      <div class='circle'></div>
      <h2>Simple &amp; Elegant</h2>
      <p>Illuminati is so easy to use, your competitors will wonder how you know more about them then they know about themselves.</p>
    </div>
  </div>
  </div>

<div class='container-fluid footer'>
  <div class='row-fluid'>
    <div class='span12'>
     <p>Copyright 2013 PipelineDeals</p>
    </div>
  </div>
  </div>